@using Services;
@model List<Data.Models.Book>

@{
    ViewBag.Title = "Visa böcker";
}

<h2>Alla böcker</h2>

<a href="@Url.Action("Create")" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Lägg till ny bok</a>

<div class="weatherdata"></div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Bild</th>
            <th>Titel</th>
            <th>Författare</th>
            <th>Genres</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var book in Model) {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(book.ImagePath)) {
                        <img src="@(ImageService.GetImagePathRelative(book.ImagePath))" style="max-width: 50px; max-height: 50px" />
                    }
                </td>
                <td>@Html.ActionLink(book.Title, "Details", new { id = book.Id })</td>
                <td>
                    @if (book.AuthoredBy != null) {
                        <a href="@Url.Action("Details", "Author", new {id = book.AuthoredBy.Id})"></a>
                    } else {
                        @("Anonym")
                    }
                </td>
                <td>
                    @Html.Partial("GenreListing", book.Genres)
                </td>
                <td>
                    <a href="@Url.Action("Edit",new { id = book.Id })"><i class="glyphicon glyphicon-edit"></i></a>
                    <i class="glyphicon glyphicon-remove-circle deletebook" style="cursor: pointer" data-id="@book.Id" data-title="@book.Title"></i>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $('.deletebook').click(function () {
            var $this = $(this);
            var booktitle = $this.data('title');
            if (!window.confirm('Vill du ta bort boken "' + booktitle + '" ?')) return;
            var id = $this.data('id');
            $.ajax({
                url: 'api/book/delete',
                method: 'POST',
                data: { bookid: id },
                success: function () {
                    window.location.reload();
                },
                error: function () {
                    window.alert('Kunde inte ta bort boken');
                }
            });
        })
    </script>

    <script>
        $.get('/api/weather', function (weather) {
            $('.weatherdata').html(
                '<p>' +
                'Det är just nu ' + weather.TemperatureNow + ' grader ute, imorgon vid denna tiden ska det bli ' + weather.TemperatureTomorrow + ' grader' +
                '</p>'
            )
        });
    </script>
}