@using Services
@model Data.Models.Author

@{
    ViewBag.Title = "Författare";
}

<div>
    <h4>Författare</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <p>Böcker skriva</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Bild</th>
                <th>Titel</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.Books) {
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(book.ImagePath)) {
                            <a href="@Url.Action("Details", "Book", new {id = book.Id})">
                                <img src="@(ImageService.GetImagePathRelative(book.ImagePath))" style="max-width: 50px; max-height: 50px" />
                            </a>
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("Details", "Book", new { id = book.Id })">@book.Title</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
